* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    width: 800px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c5364;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.input-section input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.input-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #2c5364;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.input-section button:hover {
    background-color: #203a43;
}

.action-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.action-section button {
    padding: 8px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.danger {
    background-color: #c0392b;
    color: white;
}

.danger:hover {
    background-color: #922b21;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #2c5364;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.empty {
    color: #888;
}


.action-btn {
    border: none;
    padding: 6px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    margin: 0 3px;
}

.complete-btn {
    background-color: #27ae60;
    color: white;
}

.complete-btn:hover {
    background-color: #1e8449;
    transform: scale(1.1);
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
}

.delete-btn:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #2c5364;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-btn:hover {
    background-color: #203a43;
    transform: translateY(-2px);
}

.material-symbols-outlined {
    font-size: 20px;
}
